/*GLAVNO*/
@font-face{
    font-family: Montserrat-SemiBold;
    src:url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face{
    font-family: Montserrat-ExtraBold;
    src:url("../fonts/Montserrat-ExtraBold.ttf");
}

html,body
{
    font-size:16px;
    font-family: 'Arial', sans-serif;
    color:#262626;
    line-height:1.6;
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
}

h1, h2, h3{
    font-size: 26px;
    font-family: 'Montserrat-SemiBold', sans-serif;
}

.main h2{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: violet;
}

.main{
    width:100%;
    background-color: white;
    display: flex;
    margin: 0 auto;
    padding: 0px;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
}

@media(max-width: 1125px){
    .main{
        flex-direction: column;
    }
}

/*SLIKA*/
.slika{
    flex: 50%;
    min-height: 200px;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    background-image: url("../slike/login.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
}


#natpis{
    position: relative;
    margin: 50px;
    margin-top: 80px;
    font-family: 'Montserrat-ExtraBold', sans-serif;
    font-size: 100px;
    color: white;
    line-height: 120px;
}



/*FOOTER*/
footer
{
    margin: 0 auto;
    padding: 20px;
    min-height:100px;
    background:#262626;
    color:white;
    text-align: center;
}

#up{
    position: fixed; 
    bottom: 20px;
    right: 20px;
  }

footer i{
    color: plum;
    font-size: 12px;
}


/*LOGIN */
#container{
    max-width: 400px;
    margin: 0 auto;
}

.forma{
    flex: 50%;
    padding: 80px;
}

.forma h1{
    font-size: 50px;
}

.forma p{
    font-size: 14px;
    color: gray;
    margin-bottom: 30px;
}

.forma label{
    font-family: 'Montserrat-SemiBold', sans-serif;
    color: plum;
}

.forma input{
    border: solid 2px gray;
    border-radius:5px;
    width: 350px;
    height: 30px;
    padding: 10px;
    margin: 20px 10px 20px 10px;
}

.forma input[type=submit]{
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 16px;
    background-color: plum;
    color:white;
    border:none;
    padding:10px 30px;
    border-radius:5px;
    width: 375px;
    height: 50px;
}

.forma input[type=submit]:hover{
    background-color: rgb(182, 130, 182);
}

.forma button{
    margin: 10px;
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 16px;
    background-color: plum;
    color:white;
    border:none;
    padding:10px 30px;
    border-radius:5px;
    width: 375px;
    height: 50px;
}

.forma button:hover{
    background-color: rgb(182, 130, 182);
}

.forma h3{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: -10px;
    color: plum;
}





/*PROFIL*/
header{
    position: relative;
    margin: 0 auto;
    padding: 10px 50px;
    min-height:50px;
    background:#262626;
    color:white;
}

header h3{
    font-size: 16px;
    color: plum;
}

#signout{
    position: absolute;
    top: 15px;
    right: 50px;
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 16px;
    background-color: plum;
    color:white;
    border:none;
    padding:10px 30px;
    border-radius:5px;
    width: 200px;
    height: 50px;
}

#signout:hover{
    background-color: rgb(182, 130, 182);
}

.profil{
    background-color: white;
    width: 200px;
    padding: 80px;
    margin: 70px;
    box-shadow: 7px 7px 10px;
}

.profil img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.profil h1{
    text-align: center;
    color: plum;
}

.profil h2{
    font-size: 20px;
    color:#262626;
}

.sadrzaj{
    min-height: 700px;
    display: flex;
    margin: 0 auto;
    padding: 0px;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    background-image: url("../slike/login.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
}


